# Notebook for testing the thrift server

verify pyhive native connectivity

In [1]:
connection_string = 'spark-thrift-server:10000'

In [17]:
from pyhive import hive

connection = hive.connect(username='root', host="spark-thrift-server", port=10000, auth='NOSASL')
cursor = connection.cursor()

In [3]:
cursor.execute('SHOW DATABASES')

In [4]:
for row in cursor.fetchall():
    print(row)

('default',)

In [5]:
cursor.execute('select * from default.yellow_taxi_pre2015 limit 10')

In [6]:
for row in cursor.fetchall():
    print(row)

('CMT', '2013-08-15 01:49:36', '2013-08-15 01:54:55', '1', '1', '-73.986519999999999', '40.761797999999999', '1', 'N', '-73.968627999999995', '40.767684000000003', 'CRD', '6.5', '0.5', '0.5', '1', '0', '8.5')
('CMT', '2013-08-16 07:34:24', '2013-08-16 07:46:55', '1', '3', '-73.954511999999994', '40.769570000000002', '1', 'N', '-73.987679999999997', '40.747708000000003', 'CRD', '12', '0', '0.5', '1.5', '0', '14')
('CMT', '2013-08-14 07:27:21', '2013-08-14 07:34:31', '2', '2', '-73.997451999999996', '40.741481999999998', '1', 'N', '-73.980052999999998', '40.758218999999997', 'CRD', '7.5', '0', '0.5', '1.6000000000000001', '0', '9.5999999999999996')
('CMT', '2013-08-14 11:39:31', '2013-08-14 11:53:16', '1', '1', '-73.995501000000004', '40.759717000000002', '1', 'N', '-73.987482999999997', '40.752685', 'CRD', '9.5', '0', '0.5', '1', '0', '11')
('CMT', '2013-08-18 01:17:48', '2013-08-18 01:30:45', '2', '4', '-73.995198000000002', '40.735725000000002', '1', 'Y', '-73.983564999999999', '40.781328000000002', 'CRD', '14', '0.5', '0.5', '1', '0', '16')
('CMT', '2013-08-13 13:37:45', '2013-08-13 13:48:38', '1', '2', '-73.961178000000004', '40.764966999999999', '1', 'N', '-73.976905000000002', '40.743257999999997', 'CRD', '9', '0', '0.5', '1', '0', '10.5')
('CMT', '2013-08-12 00:01:03', '2013-08-12 00:03:40', '1', '1', '-73.990284000000003', '40.744822999999997', '1', 'N', '-73.987658999999994', '40.738211999999997', 'CRD', '4.5', '0.5', '0.5', '1', '0', '6.5')
('CMT', '2013-08-14 08:30:04', '2013-08-14 09:16:40', '1', '14', '-73.885354000000007', '40.773125999999998', '1', 'N', '-74.011587000000006', '40.714357999999997', 'CRD', '45', '0', '0.5', '10.15', '5.3300000000000001', '60.979999999999997')
('CMT', '2013-08-14 08:03:47', '2013-08-14 08:18:52', '3', '8', '-73.956281000000004', '40.766978999999999', '1', 'N', '-74.013565', '40.714362999999999', 'CRD', '23', '0', '0.5', '3', '0', '26.5')
('CMT', '2013-08-14 06:30:56', '2013-08-14 06:54:51', '1', '18', '-73.959019999999995', '40.814892', '2', 'N', '-73.786001999999996', '40.643481000000001', 'CRD', '52', '0', '0.5', '11.550000000000001', '5.3300000000000001', '69.379999999999995')

In [18]:
query = "select * from green_taxi_pre2015 limit 10"
data = pd.read_sql(query, con=connection)
print(data)

  VendorID lpep_pickup_datetime Lpep_dropoff_datetime Store_and_fwd_flag  \
0        2  2014-02-01 00:00:00   2014-02-01 23:25:08                  N
1        2  2014-02-01 00:00:00   2014-02-01 20:17:35                  N
2        2  2014-02-01 00:00:00   2014-02-01 14:27:37                  N
3        2  2014-02-01 00:00:00   2014-02-01 01:07:26                  N
4        2  2014-02-01 00:00:00   2014-02-01 04:04:40                  N
5        2  2014-02-01 00:00:00   2014-02-01 11:24:18                  N
6        2  2014-02-01 00:00:00   2014-02-01 20:43:09                  N
7        2  2014-02-01 00:00:00   2014-02-01 21:25:35                  N
8        2  2014-02-01 00:00:00   2014-02-01 07:36:10                  N
9        2  2014-02-01 00:00:00   2014-02-01 21:22:18                  N

  RateCodeID Pickup_longitude Pickup_latitude    Dropoff_longitude  \
0          2                0               0  -73.912254333496094
1          1                0               0  -73.960289001464844
2          1                0               0  -73.937232971191406
3          1                0               0  -73.947052001953125
4          1                0               0  -73.976493835449219
5          1                0               0                    0
6          1                0               0     -73.995849609375
7          1                0               0                    0
8          1                0               0                    0
9          1                0               0  -73.830276489257813

     Dropoff_latitude Passenger_count Trip_distance Fare_amount Extra MTA_tax  \
0  40.753227233886719               2           .89          52     0     0.5
1  40.761558532714844               1          2.72          11   0.5     0.5
2  40.758316040039063               1           .00         2.5     0     0.5
3  40.683628082275391               1          3.21        12.5   0.5     0.5
4  40.788700103759766               1          9.71          31   0.5     0.5
5                   0               1          3.05        13.5     0     0.5
6  40.764453887939453               1          4.36          15   0.5     0.5
7                   0               1          5.11          19   0.5     0.5
8                   0               1         10.33          29     0     0.5
9  40.893222808837891               1         10.86        31.5   0.5     0.5

  Tip_amount Tolls_amount Ehail_fee Total_amount Payment_type trip_type
0          0            0      None         52.5            2      None
1       0.75            0      None        12.75            1      None
2          0            0      None            3            1      None
3        3.9            0      None         17.4            1      None
4        6.3            0      None         38.3            1      None
5        2.7            0      None         16.7            1      None
6          2            0      None           18            1      None
7       4.88            0      None        24.88            1      None
8       8.58         5.33      None        43.41            1      None
9          0            0      None         32.5            1      None

# SQLAlchemy Test

In [7]:
import pandas as pd
from sqlalchemy import create_engine

host_server = 'spark-thrift-server'
port = '10000'
database = 'default'
conn = f'hive://{host_server}:{port}/{database}'
engine = create_engine(conn, connect_args={'auth': 'NOSASL'})

In [8]:
query = "show databases"
con = engine.connect()

result = con.execute(query)

for line in result:
    print(line)

('default',)

In [9]:
query = "show tables"
con = engine.connect()

result = con.execute(query)

for line in result:
    print(line)

('default', 'green_clean', False)
('default', 'green_merged', False)
('default', 'green_taxi_2015_h1', False)
('default', 'green_taxi_pre2015', False)
('default', 'yellow_taxi_pre2015', False)

In [10]:
query = "show schemas"
con = engine.connect()

result = con.execute(query)

for line in result:
    print(line)

('default',)

In [11]:
query = "describe table green_clean"
con = engine.connect()

result = con.execute(query)

for line in result:
    print(line)

('vendor_id', 'string', '')
('pickup_datetime', 'timestamp', '')
('dropoff_datetime', 'timestamp', '')
('store_and_fwd_flag', 'string', '')
('rate_code_id', 'int', '')
('pickup_longitude', 'float', '')
('pickup_latitude', 'float', '')
('dropoff_longitude', 'float', '')
('dropoff_latitude', 'float', '')
('passenger_count', 'int', '')
('trip_distance', 'float', '')
('fare_amount', 'float', '')
('extra', 'float', '')
('mta_tax', 'float', '')
('tip_amount', 'float', '')
('tolls_amount', 'float', '')
('ehail_fee', 'float', '')
('total_amount', 'float', '')
('payment_type', 'int', '')
('trip_type', 'int', '')
('improvement_surcharge', 'float', '')
('', '', '')
('# Partitioning', '', '')
('Not partitioned', '', '')

In [14]:
query = "select * from green_taxi_pre2015 limit 10"
con = engine.connect()

result = con.execute(query)

for line in result:
    print(line)

('2', '2014-02-01 00:00:00', '2014-02-01 23:25:08', 'N', '2', '0', '0', '-73.912254333496094', '40.753227233886719', '2', '.89', '52', '0', '0.5', '0', '0', None, '52.5', '2', None)
('2', '2014-02-01 00:00:00', '2014-02-01 20:17:35', 'N', '1', '0', '0', '-73.960289001464844', '40.761558532714844', '1', '2.72', '11', '0.5', '0.5', '0.75', '0', None, '12.75', '1', None)
('2', '2014-02-01 00:00:00', '2014-02-01 14:27:37', 'N', '1', '0', '0', '-73.937232971191406', '40.758316040039063', '1', '.00', '2.5', '0', '0.5', '0', '0', None, '3', '1', None)
('2', '2014-02-01 00:00:00', '2014-02-01 01:07:26', 'N', '1', '0', '0', '-73.947052001953125', '40.683628082275391', '1', '3.21', '12.5', '0.5', '0.5', '3.9', '0', None, '17.4', '1', None)
('2', '2014-02-01 00:00:00', '2014-02-01 04:04:40', 'N', '1', '0', '0', '-73.976493835449219', '40.788700103759766', '1', '9.71', '31', '0.5', '0.5', '6.3', '0', None, '38.3', '1', None)
('2', '2014-02-01 00:00:00', '2014-02-01 11:24:18', 'N', '1', '0', '0', '0', '0', '1', '3.05', '13.5', '0', '0.5', '2.7', '0', None, '16.7', '1', None)
('2', '2014-02-01 00:00:00', '2014-02-01 20:43:09', 'N', '1', '0', '0', '-73.995849609375', '40.764453887939453', '1', '4.36', '15', '0.5', '0.5', '2', '0', None, '18', '1', None)
('2', '2014-02-01 00:00:00', '2014-02-01 21:25:35', 'N', '1', '0', '0', '0', '0', '1', '5.11', '19', '0.5', '0.5', '4.88', '0', None, '24.88', '1', None)
('2', '2014-02-01 00:00:00', '2014-02-01 07:36:10', 'N', '1', '0', '0', '0', '0', '1', '10.33', '29', '0', '0.5', '8.58', '5.33', None, '43.41', '1', None)
('2', '2014-02-01 00:00:00', '2014-02-01 21:22:18', 'N', '1', '0', '0', '-73.830276489257813', '40.893222808837891', '1', '10.86', '31.5', '0.5', '0.5', '0', '0', None, '32.5', '1', None)