# Notebook for testing spark and hive writing

In [34]:
import os
from pyspark.sql import SparkSession

In [35]:
packages="""io.delta:delta-core_2.12:1.0.0,org.apache.hadoop:hadoop-aws:3.2.0"""

os.environ['PYSPARK_SUBMIT_ARGS'] = "--packages io.delta:delta-core_2.12:1.0.0,org.apache.hadoop:hadoop-aws:3.2.0 pyspark-shell"

In [36]:
spark = SparkSession \
            .builder \
            .config("spark.executor.cores", 4) \
            .config("spark.executor.memory", "4g") \
            .config("spark.sql.extensions", "io.delta.sql.DeltaSparkSessionExtension") \
            .config("spark.sql.catalog.spark_catalog", "org.apache.spark.sql.delta.catalog.DeltaCatalog") \
            .config("spark.master", "spark://spark-master:7077") \
            .config("spark.hadoop.fs.s3a.access.key", "AKIAIOSFODNN7EXAMPLE") \
            .config("spark.hadoop.fs.s3a.secret.key", "wJalrXUtnFEMI/K7MDENG/bPxRfiCYEXAMPLEKEY") \
            .config("spark.hadoop.fs.s3a.endpoint", "minio:9000") \
            .config("spark.hadoop.fs.s3a.connection.ssl.enabled", "false") \
            .config("spark.hadoop.fs.s3a.impl", "org.apache.hadoop.fs.s3a.S3AFileSystem") \
            .config("spark.hadoop.metastore.catalog.default", "hive") \
            .config("spark.sql.warehouse.dir", "s3a://storage/warehouse") \
            .config("spark.hadoop.fs.s3a.path.style.access", "true") \
            .config("spark.hadoop.fs.s3a.connection.maximum", "50") \
            .config("spark.hive.metastore.uris", "thrift://172.30.0.4:9083") \
            .appName("Jupyter Testing ingest to Raw Lake") \
            .enableHiveSupport() \
            .getOrCreate()

In [45]:
result_frame = spark.sql("select * from default.green_merged TABLESAMPLE (10000 ROWS)")

In [46]:
result_frame.printSchema()

root
 |-- VendorID: string (nullable = true)
 |-- pickup_datetime: string (nullable = true)
 |-- dropoff_datetime: string (nullable = true)
 |-- Store_and_fwd_flag: string (nullable = true)
 |-- RateCodeID: string (nullable = true)
 |-- Pickup_longitude: string (nullable = true)
 |-- Pickup_latitude: string (nullable = true)
 |-- Dropoff_longitude: string (nullable = true)
 |-- Dropoff_latitude: string (nullable = true)
 |-- Passenger_count: string (nullable = true)
 |-- Trip_distance: string (nullable = true)
 |-- Fare_amount: string (nullable = true)
 |-- Extra: string (nullable = true)
 |-- MTA_tax: string (nullable = true)
 |-- Tip_amount: string (nullable = true)
 |-- Tolls_amount: string (nullable = true)
 |-- Ehail_fee: string (nullable = true)
 |-- Total_amount: string (nullable = true)
 |-- Payment_type: string (nullable = true)
 |-- trip_type: string (nullable = true)
 |-- improvement_surcharge: string (nullable = true)

In [47]:
result_frame.count()

10000

In [29]:
spark.sql("select max(pickup_datetime) from green_merged").collect()

[Row(max(pickup_datetime)='2015-06-30 23:59:59')]

In [19]:
#spark.sql("select * from clean.green_clean limit 10").collect()

In [4]:
spark.sql("select * from default.green_taxi_pre2015 limit 10").collect()

[Row(VendorID='2', lpep_pickup_datetime='2014-02-01 00:00:00', Lpep_dropoff_datetime='2014-02-01 23:25:08', Store_and_fwd_flag='N', RateCodeID='2', Pickup_longitude='0', Pickup_latitude='0', Dropoff_longitude='-73.912254333496094', Dropoff_latitude='40.753227233886719', Passenger_count='2', Trip_distance='.89', Fare_amount='52', Extra='0', MTA_tax='0.5', Tip_amount='0', Tolls_amount='0', Ehail_fee=None, Total_amount='52.5', Payment_type='2', trip_type=None),
 Row(VendorID='2', lpep_pickup_datetime='2014-02-01 00:00:00', Lpep_dropoff_datetime='2014-02-01 20:17:35', Store_and_fwd_flag='N', RateCodeID='1', Pickup_longitude='0', Pickup_latitude='0', Dropoff_longitude='-73.960289001464844', Dropoff_latitude='40.761558532714844', Passenger_count='1', Trip_distance='2.72', Fare_amount='11', Extra='0.5', MTA_tax='0.5', Tip_amount='0.75', Tolls_amount='0', Ehail_fee=None, Total_amount='12.75', Payment_type='1', trip_type=None),
 Row(VendorID='2', lpep_pickup_datetime='2014-02-01 00:00:00', Lpep_dropoff_datetime='2014-02-01 14:27:37', Store_and_fwd_flag='N', RateCodeID='1', Pickup_longitude='0', Pickup_latitude='0', Dropoff_longitude='-73.937232971191406', Dropoff_latitude='40.758316040039063', Passenger_count='1', Trip_distance='.00', Fare_amount='2.5', Extra='0', MTA_tax='0.5', Tip_amount='0', Tolls_amount='0', Ehail_fee=None, Total_amount='3', Payment_type='1', trip_type=None),
 Row(VendorID='2', lpep_pickup_datetime='2014-02-01 00:00:00', Lpep_dropoff_datetime='2014-02-01 01:07:26', Store_and_fwd_flag='N', RateCodeID='1', Pickup_longitude='0', Pickup_latitude='0', Dropoff_longitude='-73.947052001953125', Dropoff_latitude='40.683628082275391', Passenger_count='1', Trip_distance='3.21', Fare_amount='12.5', Extra='0.5', MTA_tax='0.5', Tip_amount='3.9', Tolls_amount='0', Ehail_fee=None, Total_amount='17.4', Payment_type='1', trip_type=None),
 Row(VendorID='2', lpep_pickup_datetime='2014-02-01 00:00:00', Lpep_dropoff_datetime='2014-02-01 04:04:40', Store_and_fwd_flag='N', RateCodeID='1', Pickup_longitude='0', Pickup_latitude='0', Dropoff_longitude='-73.976493835449219', Dropoff_latitude='40.788700103759766', Passenger_count='1', Trip_distance='9.71', Fare_amount='31', Extra='0.5', MTA_tax='0.5', Tip_amount='6.3', Tolls_amount='0', Ehail_fee=None, Total_amount='38.3', Payment_type='1', trip_type=None),
 Row(VendorID='2', lpep_pickup_datetime='2014-02-01 00:00:00', Lpep_dropoff_datetime='2014-02-01 11:24:18', Store_and_fwd_flag='N', RateCodeID='1', Pickup_longitude='0', Pickup_latitude='0', Dropoff_longitude='0', Dropoff_latitude='0', Passenger_count='1', Trip_distance='3.05', Fare_amount='13.5', Extra='0', MTA_tax='0.5', Tip_amount='2.7', Tolls_amount='0', Ehail_fee=None, Total_amount='16.7', Payment_type='1', trip_type=None),
 Row(VendorID='2', lpep_pickup_datetime='2014-02-01 00:00:00', Lpep_dropoff_datetime='2014-02-01 20:43:09', Store_and_fwd_flag='N', RateCodeID='1', Pickup_longitude='0', Pickup_latitude='0', Dropoff_longitude='-73.995849609375', Dropoff_latitude='40.764453887939453', Passenger_count='1', Trip_distance='4.36', Fare_amount='15', Extra='0.5', MTA_tax='0.5', Tip_amount='2', Tolls_amount='0', Ehail_fee=None, Total_amount='18', Payment_type='1', trip_type=None),
 Row(VendorID='2', lpep_pickup_datetime='2014-02-01 00:00:00', Lpep_dropoff_datetime='2014-02-01 21:25:35', Store_and_fwd_flag='N', RateCodeID='1', Pickup_longitude='0', Pickup_latitude='0', Dropoff_longitude='0', Dropoff_latitude='0', Passenger_count='1', Trip_distance='5.11', Fare_amount='19', Extra='0.5', MTA_tax='0.5', Tip_amount='4.88', Tolls_amount='0', Ehail_fee=None, Total_amount='24.88', Payment_type='1', trip_type=None),
 Row(VendorID='2', lpep_pickup_datetime='2014-02-01 00:00:00', Lpep_dropoff_datetime='2014-02-01 07:36:10', Store_and_fwd_flag='N', RateCodeID='1', Pickup_longitude='0', Pickup_latitude='0', Dropoff_longitude='0', Dropoff_latitude='0', Passenger_count='1', Trip_distance='10.33', Fare_amount='29', Extra='0', MTA_tax='0.5', Tip_amount='8.58', Tolls_amount='5.33', Ehail_fee=None, Total_amount='43.41', Payment_type='1', trip_type=None),
 Row(VendorID='2', lpep_pickup_datetime='2014-02-01 00:00:00', Lpep_dropoff_datetime='2014-02-01 21:22:18', Store_and_fwd_flag='N', RateCodeID='1', Pickup_longitude='0', Pickup_latitude='0', Dropoff_longitude='-73.830276489257813', Dropoff_latitude='40.893222808837891', Passenger_count='1', Trip_distance='10.86', Fare_amount='31.5', Extra='0.5', MTA_tax='0.5', Tip_amount='0', Tolls_amount='0', Ehail_fee=None, Total_amount='32.5', Payment_type='1', trip_type=None)]

In [5]:
green_processed = spark.sql("SELECT * FROM clean.green_clean")

In [6]:
green_processed.select('pickup_datetime').take(10)

[Row(pickup_datetime=datetime.datetime(2015, 2, 1, 0, 0, 1)),
 Row(pickup_datetime=datetime.datetime(2015, 2, 1, 0, 0, 6)),
 Row(pickup_datetime=datetime.datetime(2015, 2, 1, 0, 0, 9)),
 Row(pickup_datetime=datetime.datetime(2015, 2, 1, 0, 0, 21)),
 Row(pickup_datetime=datetime.datetime(2015, 2, 1, 0, 0, 13)),
 Row(pickup_datetime=datetime.datetime(2015, 2, 1, 0, 0, 12)),
 Row(pickup_datetime=datetime.datetime(2015, 2, 1, 0, 0, 17)),
 Row(pickup_datetime=datetime.datetime(2015, 2, 1, 0, 0, 37)),
 Row(pickup_datetime=datetime.datetime(2015, 2, 1, 0, 0, 25)),
 Row(pickup_datetime=datetime.datetime(2015, 2, 1, 0, 0, 44))]

In [11]:
h1_2015_green = ["green_tripdata_2015-01.csv",
                "green_tripdata_2015-02.csv",
                "green_tripdata_2015-03.csv",
                "green_tripdata_2015-04.csv",
                "green_tripdata_2015-05.csv",
                "green_tripdata_2015-06.csv"]

path_base = 's3a://storage/raw_data/'

path_load = [path_base+x for x in h1_2015_green]
table_name = 'green_taxi_2015_h1'

In [12]:
raw_data = spark.read.option("header", True).csv(path_load)

In [13]:
# green tables have this quirk - do others?
raw_fix = raw_data.withColumnRenamed("Trip_type ", "trip_type")

In [14]:
raw_fix = raw_fix.withColumnRenamed("lpep_pickup_datetime", "pickup_datetime")
raw_fix = raw_fix.withColumnRenamed("Lpep_dropoff_datetime", "dropoff_datetime")

In [15]:
raw_fix.printSchema()

root
 |-- VendorID: string (nullable = true)
 |-- pickup_datetime: string (nullable = true)
 |-- dropoff_datetime: string (nullable = true)
 |-- Store_and_fwd_flag: string (nullable = true)
 |-- RateCodeID: string (nullable = true)
 |-- Pickup_longitude: string (nullable = true)
 |-- Pickup_latitude: string (nullable = true)
 |-- Dropoff_longitude: string (nullable = true)
 |-- Dropoff_latitude: string (nullable = true)
 |-- Passenger_count: string (nullable = true)
 |-- Trip_distance: string (nullable = true)
 |-- Fare_amount: string (nullable = true)
 |-- Extra: string (nullable = true)
 |-- MTA_tax: string (nullable = true)
 |-- Tip_amount: string (nullable = true)
 |-- Tolls_amount: string (nullable = true)
 |-- Ehail_fee: string (nullable = true)
 |-- improvement_surcharge: string (nullable = true)
 |-- Total_amount: string (nullable = true)
 |-- Payment_type: string (nullable = true)
 |-- trip_type: string (nullable = true)

# Write back to object store

In [7]:
raw_fix.write.format("delta").mode("overwrite").saveAsTable(table_name)

In [48]:
spark.stop()